
@media (max-width:992px) {
	.tabs {
		display: block;
		&__btn {
			display: block;
			column-count: 2;
			&-item {
				display: block;
				margin-bottom: 10px;
			}
		}
	}
}

@media (max-width:768px) {
	.title {
		font-size: 66px;
	}
	.subtitle {
		font-size: 24px;
	}
}

@media (max-width:568px) {
	.top {
		text-align: center;
	}
	.buy-btn {
		flex-direction: column;
		margin: 0 auto;
	}
	.features {
		&__titles {
			display: block;
		}
	}
	.tabs {
		&__content {
			&-item {
				display: block;
			}
		}
	}
	.video {
		width: auto;
		height: 250px;
		margin-top: 20px;
	}
}

@media (max-width:420px) {
	.title {
		font-size: 42px;
	}
	.subtitle {
		font-size: 20px;
	}
	.buy-btn {
		&__text {
		
		}
		&__price {
			
		}
	}
	.features {
		&__text {
			font-size: 30px;
		}
	}
	.tabs {
		display: block;
		&__btn {
			display: block;
			column-count: 1;
		}
	}
}