@import 'libs/reboot';
@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.ttf"),
        url("../fonts/helvetica.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica-Bold.ttf"),
        url("../fonts/helvetica-bold.woff2");
    font-weight: 700;
}

@import 'base/variables';
@import 'base/mixins';
* {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}